.title {
   padding-top: 35px;
   padding-bottom: 55px;
   font-size: 42px;
   width: 280px;
   line-height: 1.3;
   letter-spacing: 1.5px;
}  

.form {
   text-align: center;
   width: 100%;
   padding-bottom: 25px;
   border-bottom: 1px solid #fff;
   margin: 0 auto 20px;

   &__input {
      font-size: 18px;
      font-family: "Quicksand";
      width: 330px;
      padding: 10px 15px;

      &:focus {
         outline: none;
      }
   }
}


// MEDIA QUERIES
@media (min-width: 402px) {
   .title {
      width: 50%;
      margin: auto;
      text-align: center;
      padding-left: 0;
   }
}

@media (min-width: 1000px) {
   .form { 
      width: 50%;
      
      &__input { width: 400px }
   }
}